<h1>Portoflio items</h1>
<% @port_items.each do |item| %>
<h1><%= item.title %></h1>
<p><%= item.subtitle %></p>
<p><%= item.body %></p>
<<%= image_tag  item.thumb_image unless item.thumb_image.nil? %>>  
<% end %>
